@mixin blocks {
    background-color: #696969;
    min-height: 10rem;
}

html {
    font-size: 10px;
}
body {
    max-width: 90rem;
    margin: 0 auto;
}

.header {
    margin-top: 2.5rem;
    &__block {
        @include blocks;
        &_first {
            background-image: url("../img/1st.jpg");
            background-size: cover;
        }
        img {
            max-width: 100%;
        }
    }
}
.main {
    margin-top: 5rem;
    .main-left-column {
        height: 100%;
        &__container {
            height: inherit;
        }
        &__row {
            height: inherit;
            flex-direction: column;
            justify-content: space-between;
        }
        &__block {
            @include blocks;
            min-height: 12.5rem;
            &_large {
                min-height: 30rem;
            }
            &_seventh {
                background-image: url("../img/7th.jpg");
                background-size: cover;
            }
        }
    }
    .main-right-column {
        &__block {
            @include blocks;
            min-height: 12.5rem;
            &_1 {
                background-image: url("../img/61.jpg");
                background-size: cover;
            }
            &_2 {
                background-image: url("../img/62.png");
                background-size: cover;
            }
            &_3 {
                background-image: url("../img/63.jpg");
                background-size: cover;
            }
            &_4 {
                background-image: url("../img/64.jpg");
                background-size: cover;
            }
            &_5 {
                background-image: url("../img/65.jpg");
                background-size: cover;
            }
            &_6 {
                background-image: url("../img/66.jpg");
                background-size: cover;
            }
            &_7 {
                background-image: url("../img/67.jpg");
                background-size: cover;
            }
            &_large {
                min-height: 20rem;
            }
        }
    }
}
.footer {
    margin: 5rem 0 2.5rem 0;
    &__block {
        background-color: #696969;
        min-height: 10rem;
        &_large {
            min-height: 20rem;
        }
        &_small {
            &:first-of-type {
                margin-bottom: 2rem;
            }
            min-height: 9rem;
        }
        &_fourteenth {
            background-image: url("../img/14th.jpg");
            background-size: cover;
        }
    }
}
.backdrop {
    background-color: #25252585;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    .modal {
        &__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__window {
            min-height: 50rem;
            min-width: 50rem;
            background-color: #696969;
            z-index: 2;
        }
        &__id {
            text-align: center;
            font-size: 5rem;
            color: #fff;
            background-color: #696969;
        }
        &__turn-off {
            color: #fff;
            background-color: #696969;
            outline: none;
            margin-top: 1rem;
            font-size: 3rem;
            border-radius: 5px;
        }
    }
}
